Package: echopre3
Version: __VERSION__
Section: sound
Priority: optional
Architecture: amd64
Maintainer: Leigh Pierce <leighpierce@me.com>
Description: Echo Pre 3 plugin (VST3)
 Circuit-level emulation of the Echoplex EP-3 preamp (Chase Tone Secret Preamp schematic),
 built with JUCE and chowdsp_wdf WDF circuit modelling.
